body {
    margin: 0px;
    background-color: ivory;
}

.App {
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
}

.App .NavBar {
    z-index: 1;
    position: fixed;
    height: 7vh;
    top: 0;
    right: 0;
    left: 0;
}

.App > .Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.MainContent {
    position: relative;
    top: 7vh;
    padding-bottom: 7vh;
    z-index: 0;
}
