body {
    margin: 0px;
    background-color: ivory;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
}

.App > .NavBar {
    order: 0;
}

.App > .MainContent {
    order: 1;
}

.App > .Footer {
    order: 2;
}

.MainContent {
    display: flex;
    flex: 1;
}

.MainContent > .article {
    flex: 1;
    order: 1;
}

.MainContent > .SideBar {
    flex: 0 0 15vw;
    overflow: hidden;
    transition: 0.5s;
    order: 1;
}
