.CreateEvent {
    display: flex;
    justify-content: center;
}

.back-alert {
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: rgba(110, 116, 177, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .form {
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 20vh;
        width: 40vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-around;
        color: white;
        background-image: linear-gradient(45deg, #55135c, #97649c);

        label {
            align-self: center;
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            .drop {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            * {
                transition: 0.3s;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                height: 30px;
                width: 60px;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                color: #191E58;
                background-color: white;

                &:hover {
                    width: 70px;
                }
            }
        }
    }
}

.next-confirm {
    left: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba(110, 116, 177, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .form {
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 15vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-around;
        color: white;
        background-image: linear-gradient(45deg, #55135c, #97649c);

        > label {
            align-self: center;
            padding-bottom: 20px;
        }

        .title {
            font-size: 22px;
        }

        .information {
            p {
                padding-left: 10px;
                padding-bottom: 15px;
            }

            .content {
                border-style: solid;
                border-width: 1px;
                max-height: 30vh;
                overflow: auto;
                white-space: pre-line;
            }

            .invitees {
                display: flex;
                margin-bottom: 15px;

                .invitee {
                    margin: 5px;
                    display: flex;

                    img {
                        border-radius: 50%;
                        margin-right: 3px;
                        align-self: center;
                        width: 20px;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            .confirm {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            button, .confirm {
                background-color: white;
                text-decoration-line: none;
                text-align: center;
                opacity: 0.8;
                transition: 0.2s;
                cursor: pointer;
                color: #191E58;
                border: none;
                width: 80px;
                height: 30px;
                font-size: 20px;

                &:hover {
                    opacity: 1;
                    width: 90px;
                }
            }
        }
    }
}

.create-form {
    border-radius: 8px;
    margin: 50px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #55135c, #97649c);

    input, textarea {
        margin: 5px 5px 15px 5px;

        &:focus {
            outline-color: #7E82B1;
            outline-style: double;
        }
    }

    input {
        border-radius: 2px;
    }

    textarea {
        border-radius: 3px;
        height: 40vh;
        resize: vertical;
    }

    label {
        margin: 2px 5px;
        color: white;
    }

    .invitees {
        display: flex;
        margin-bottom: 10px;

        .invitee {
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: 3px 5px;
            padding: 5px;
            border-radius: 5px;
            background-image: linear-gradient(-45deg, rgb(110, 116, 177), #545893);

            .checkbox {
                display: flex;
                justify-content: space-around;

                i {
                    transition: 0.3s;
                    color: greenyellow;
                }

                button {
                    cursor: pointer;
                    transition: 0.3s;
                    border: none;
                    padding: 0 0;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-self: center;
                    border-radius: 5px;

                    &:focus {
                        outline: none;
                    }

                    img {
                        border-radius: 5px;
                        transition: 0.3s;
                        align-self: center;
                        top: 0;
                        width: 50px;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .button-container {
        padding: 5px;
        display: flex;
        justify-content: space-between;

        button {
            cursor: pointer;
            color: white;
            border-radius: 10px;
            font-size: 20px;
            width: 100px;
            height: 40px;
            background-color: #191E58;
            border: none;
            display: flex;
            justify-content: space-around;

            &:focus {
                outline: none;
            }
        }

        .next {
            &:hover {
                background-color: green;
            }
        }

        .back {
            &:hover {
                background-color: rgb(184, 6, 6);
            }
        }
    }
}
