.Footer {
    display: flex;
    flex-basis: 50%;
    width:100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #0e041d;
}

.Footer ul{
    display: flex;
    list-style-type: none;
    color: white;
}
