.nav-ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2f1557;
}

.NavBar .title {
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border: none;
    background-color: #2f1557;
    padding: auto;
    color: white;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

.credits {
    font-size: 16px;
    padding: 0px 15px;
    align-self: center;
    color: white;
}

.right {
    margin-left: 0;
}

.nav-ul li {
    display: flex;
}

.nav-ul .user-button {
    display: flex;
}

.user-button img {
    width: 25px;
}

.nav-link {
    border: none;
    padding: 14px;
    background-color: #2f1557;
    color: white;
    font-size: 16px;
    align-self: auto;
    text-decoration: none;
    cursor: pointer;
}

.nav-ul button {
    border: none;
    padding: 12px;
    background-color: #2f1557;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-ul button:focus {
    outline: none;
}

.nav-ul button:hover, a:hover {
    background-color: #694F91;
}
