.SideBar {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 15vw;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.2s;
    place-content: space-between;
    background-color: #545893;
}

.SideBar > button {
    width: 100%;
}

.SideBar button {
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    color: white;
    text-align: center;
    background-color: #545893;
}

.SideBar button:focus {
    outline-color: #545893;
}

.SideBar button:hover {
    background-color: #7E82B1;
}

.SideBar .auth {
    background-color: #4d0f53;

    :hover {
        background-color: #85478B;
    }
}

.SideBar .closeButton {
    text-align: left;
}
